{% extends "inicio.html" %}

{% block title %}
<p class="fs-2 fw-semibold">Animales Exoticos</p>
{% endblock %}

{% block main %}
<div class="row">
    <div class="col-6 card p-0 m-2" style="width: 570px;">
        <img class="card-img-top" src="static/img/dragonKomodo.jpg" alt="dragon komodo">

        <div class="m-4">
            <p class="fs-5 fw-semibold card-title">Dragon de Komodo</p>
            <p class="card-text">
                Es el lagarto de mayor tamaño del mundo, con una longitud media de dos a tres metros y un peso de unos 70
                kg. A consecuencia de su tamaño, son los superpredadores de los ecosistemas en los que viven. A
                pesar de que se alimentan principalmente de carroña, también cazan y tienden emboscadas a sus presas,
                que incluyen invertebrados, aves y mamíferos.
            </p>
        </div>
    </div>

    <div class="col-6 card p-0 m-2" style="width: 570px;">
        <img class="card-img-top" src="static/img/zorroFennec.jpg" alt="zorro fennec">

        <div class="m-4">
            <p class="fs-5 fw-semibold card-title">Zorro Fennec</p>
            <p class="card-text">
                Con sus características orejas, se trata de la especie más pequeña de su familia. Su pelaje, orejas y
                función renal están adaptadas a las condiciones físicas del desierto: temperaturas extremas y escasez
                hídrica. Las orejas le sirven como sistema de ventilación y refrigeración de la sangre que le ayuda a
                soportar las elevadas temperaturas y el clima extremo del desierto.
            </p>
        </div>
    </div>

    <div class="col-6 card p-0 m-2" style="width: 570px;">
        <img class="card-img-top" src="static/img/aguilaMexicana.jpg" alt="aguila real mexicana">

        <div class="m-4">
            <p class="fs-5 fw-semibold card-title">Aguila Real (Mexicana)</p>
            <p class="card-text">
                Es una de las aves de presa más conocidas y ampliamente distribuidas de la Tierra. Su área de
                distribución abarca gran parte de América del Norte, Eurasia y el norte de África. Mantiene poblaciones
                sedentarias incluso en varias islas como Gran Bretaña, las del Mediterráneo y Japón. Sin embargo, su
                población en Europa Central se ha visto muy reducida en los últimos años por culpa de la actividad
                humana y se ha extinguido en muchos lugares donde antes era abundante.
            </p>
        </div>
    </div>

    <div class="col-6 card p-0 m-2" style="width: 570px;">
        <img class="card-img-top" src="static/img/guacamayos.jpg" alt="guacamayo">

        <div class="m-4">
            <p class="fs-5 fw-semibold card-title">Guacamayo</p>
            <p class="card-text">
                Son loros grandes, sus alas son largas y estrechas, lo cual
                es típico de las especies de loros que viajan largas distancias para buscar alimento. Tienen una
                mandíbula superior masiva curvada hacia abajo. En la mayoría de las especies, el pico es negro, pero el
                guacamayo rojo y
                el guacamayo aliverde tienen una mandíbula superior predominantemente de color cuerno y una inferior
                negra.
            </p>
        </div>
    </div>

    <div class="col-6 card p-0 m-2" style="width: 570px;">
        <img class="card-img-top" src="static/img/langostaMantis.jpg" alt="langosta mantis stomatopoda">

        <div class="m-4">
            <p class="fs-5 fw-semibold card-title">Langosta Mantis (Stomatopoda)</p>
            <p class="card-text">
                Se les llama mantis o "gamba mantis" por presentar cierto parecido con tales insectos, en particular unas
                extremidades anteriores raptoras y el mimetismo; la capacidad de distinguir la luz polarizada y
                reaccionar ante ella; el aspecto externo destacado de los ojos y su carácter de depredadores que
                consumen vorazmente a otros animales. Reciben el nombre de "boxeadoras" porque son capaces de ataques
                rápidos y violentos y se sabe que algunos especímenes han roto de un golpe el cristal del acuario.
            </p>
        </div>
    </div>

    <div class="col-6 card p-0 m-2" style="width: 570px;">
        <img class="card-img-top" src="static/img/medusa.jpg" alt="medusa">

        <div class="m-4">
            <p class="fs-5 fw-semibold card-title">Medusa</p>
            <p class="card-text">
                Las medusas se encuentran en todo el mundo, desde las aguas superficiales hasta las profundidades
                marinas. Las medusas grandes y a menudo coloridas son comunes en las zonas
                costeras de todo el mundo. Las medusas de la mayoría de las especies son de crecimiento rápido, maduran
                en pocos meses y mueren poco después de reproducirse, pero la fase de pólipo, adherida al lecho marino,
                puede ser mucho más longeva. Las medusas existen desde hace al menos 500 millones de años y
                posiblemente 700 millones o más, lo que las convierte en el grupo animal multiorgánico más antiguo.
            </p>
        </div>
    </div>
</div>
{% endblock %}