<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desarrollo de Plantilla Base</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body>
    <header class="shadow-sm">
        <div style="background-color: #2e7bb9ff;">
            <p class="fs-1 text-center py-3 text-light fw-semibold">Desarrollo de Plantilla Base</p>
        </div>
        <nav class="nav text-center justify-content-center pb-3">
            <a class="nav-item px-5 fw-semibold text-dark text-decoration-none" href="/">Inicio</a>
            <a class="nav-item px-5 fw-semibold text-dark text-decoration-none" href="/animalesExoticos">Animales Exoticos</a>
            <a class="nav-item px-5 fw-semibold text-dark text-decoration-none" href="/vehiculosAntiguos">Vehiculos Antiguos</a>
            <a class="nav-item px-5 fw-semibold text-dark text-decoration-none" href="/maravillasMundo">Maravillas del Mundo</a>
            <a class="nav-item px-5 fw-semibold text-dark text-decoration-none" href="/acercaDe">Acerca De</a>
        </nav>
    </header>
    <main>
        <div class="p-5">
            <div class="px-5 justify-content-center">
                {% block title %}
                <p class="fs-2 fw-semibold">Inicio</p>
                {% endblock %}

                {% block main %}
                <div>
                    <p>Esta pagina hecha con Python y Flask presenta informacion variada de diferentes temas, podras encontrar informacion de
                        animales exoticos, vehiculos antiguos y maravillas del mundo. A continuacion, acceda a uno
                        de los temas posteriormente mencionados desde el navegador superior.</p>
                        
                    <div class="row">
                        <img class="col-6" src="static/img/python.jpg" alt="logo python" style="width: 585px;">
                        <img class="col-6" src="static/img/flask.webp" alt="logo flask" style="width: 585px;">
                    </div>
                </div>
                {% endblock %}
            </div>
        </div>
    </main>
    <footer class="border-top border-2 border-light-subtle mt-4">
        <p class="text-center text-secondary fw-semibold pt-3 pb-2">Alvarez Zandate Luis Fernando</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>

</html>