{% extends "inicio.html" %}

{% block title %}
<h2 class="mb-4">Maravillas del Mundo</h2>
{% endblock title %}

{% block main %}
<div>
    <div class="card text-bg-secondary my-4">
        <img src="static/img/murallaChina.jpg" class="card-img" alt="gran muralla china">
        <div class="card-img-overlay">
            <div class="shadow-lg p-3 rounded-3">
                <h5 class="card-title">La Gran Muralla China</h5>
                <p class="card-text">
                    La Gran Muralla china es una antigua fortificación china, construida y reconstruida entre el siglo V
                    a. C. y el siglo XVI para proteger la frontera norte del Imperio chino durante las sucesivas
                    dinastías imperiales de los ataques de los nómadas xiongnu de Mongolia y Manchuria.
                    Contando sus ramificaciones y construcciones secundarias, se calcula que tiene unos 21 200 km de
                    longitud, desde la frontera con Corea, al borde del río Yalu, hasta el desierto de Gobi, a lo largo
                    de un arco que delinea aproximadamente el borde sur de Mongolia Interior, aunque hoy solo se
                    conserva un 30 % de ella. En promedio, mide de 6 a 7 m de alto y de 4 a 5 m de ancho.
                    La muralla fue designada Patrimonio de la Humanidad por la Unesco en 1987.
                </p>
            </div>
        </div>
    </div>

    <div class="card text-bg-secondary my-4">
        <img src="static/img/petra.webp" class="card-img" alt="petra">
        <div class="card-img-overlay">
            <div class="shadow-lg p-3 rounded-3">
                <h5 class="card-title">Petra</h5>
                <p class="card-text">
                    Petra (en griego antiguo, Πέτρα, en árabe, البتراء, al-Batrā´) es un importante enclave arqueológico
                    en Jordania y la capital del antiguo reino nabateo, cuyos pobladores la llamaban Raqmu. El
                    asentamiento de Petra se localiza en un valle angosto, al este del valle de Arabá que se extiende
                    desde el mar Muerto hasta el golfo de Áqaba. Los restos más célebres de Petra son sin duda sus
                    construcciones labradas en la misma roca del valle (hemispeos), en particular, los edificios
                    conocidos como el Khazneh (‘el Tesoro’) y el Deir (‘el Monasterio’).
                </p>
            </div>
        </div>
    </div>

    <div class="card text-bg-secondary my-4">
        <img src="static/img/cristoRedentor.webp" class="card-img" alt="cristo redentor">
        <div class="card-img-overlay">
            <div class="shadow-lg p-3 rounded-3">
                <h5 class="card-title">El Cristo Redentor</h5>
                <p class="card-text">
                    El Cristo Redentor o Cristo del Corcovado (en portugués: Cristo do Corcovado) es una estatua art
                    déco que representa a Jesús de Nazaret, con los brazos abiertos, mostrando a la ciudad de Río de
                    Janeiro. Este monumento fue inaugurado el 12 de octubre de 1931 después de aproximadamente 5 años de
                    construcción. Con 30 m (38 con el pedestal), es la quinta estatua de Jesús de Nazaret más grande del
                    mundo.
                </p>
            </div>
        </div>
    </div>

    <div class="card text-bg-secondary my-4">
        <img src="static/img/machuPicchu.jpg" class="card-img" alt="machu picchu">
        <div class="card-img-overlay">
            <div class="shadow-lg p-3 rounded-3">
                <h5 class="card-title">Machu Picchu</h5>
                <p class="card-text">
                    Machu Picchu (en quechua, Machu Pikchu 'monte o pico viejo', pronunciado [ˈmɐt͡ʃʊ ˈpɪkt͡ʃʊ]) es el
                    nombre contemporáneo que se da a una llacta (antiguo poblado incaico) construida antes del siglo XV,
                    en la cordillera Oriental del sur del Perú, en la cadena montañosa de los Andes a 2,430 metros sobre
                    el nivel del mar.​ Está en el departamento del Cusco (provincia de Urubamba, distrito de
                    Machupicchu) sobre el Valle Sagrado de los Incas,​ a 80 kilómetros al noroeste del Cusco,
                    ciudad del Perú y por donde fluye el río Urubamba, río que atraviesa la cordillera y origina
                    un cañón con clima de montaña tropical.
                </p>
            </div>
        </div>
    </div>

    <div class="card text-bg-secondary my-4">
        <img src="static/img/chichenItza.avif" class="card-img" alt="chichen itza">
        <div class="card-img-overlay">
            <div class="shadow-lg p-3 rounded-3">
                <h5 class="card-title">Chichen Itza</h5>
                <p class="card-text">
                    Es uno de los principales sitios arqueológicos mayas de la península de Yucatán en México. Se
                    encuentra a escasos 2.5 km de la localidad de Pisté, en el municipio de Tinum, en el estado de
                    Yucatán, al sureste de México. Consistió en una ciudad o un centro ceremonial que pasó por diversas
                    épocas constructivas e influencias de los distintos pueblos que la ocuparon y que la impulsaron
                    desde su fundación.​ Vestigio importante y renombrado de la civilización maya, las construcciones
                    principales que ahí perduran corresponden al periodo denominado clásico tardío o posclásico temprano
                    (800-1100 d. C.) dentro del período posclásico mesoamericano.
                </p>
            </div>
        </div>
    </div>

    <div class="card text-bg-secondary my-4">
        <img src="static/img/coliseoRomano.jpg" class="card-img" alt="coliseo romano">
        <div class="card-img-overlay">
            <div class="shadow-lg p-3 rounded-3">
                <h5 class="card-title">El Coliseo Romano</h5>
                <p class="card-text">
                    es un anfiteatro de la época del Imperio romano, construido en el siglo I. Está ubicado en el este
                    del Foro Romano y fue el mayor de los que se construyeron en el Imperio romano. Conocido
                    originalmente como Anfiteatro Flavio, Amphitheatrum Flavium, a partir de la Edad Media pasó a ser
                    llamado Coliseo porque a su lado había una gran estatua dedicada al emperador Nerón, el Coloso de
                    Nerón, «Colossus», que Adriano había transformado en una representación de Helios, el dios Sol.
                    De este «Colossus Solis» derivó el nombre actual del edificio.​ La estatua llegó a
                    desaparecer.
                </p>
            </div>
        </div>
    </div>

    <div class="card text-bg-secondary my-4">
        <img src="static/img/tajMahal.jpg" class="card-img" alt="taj mahal">
        <div class="card-img-overlay">
            <div class="shadow-lg p-3 rounded-3">
                <h5 class="card-title">El Taj Mahal</h5>
                <p class="card-text">
                    es un monumento funerario construido entre 1632 y 1654 en la ciudad de Agra, estado de Uttar Pradesh
                    (India), a orillas del río Yamuna, por el emperador musulmán Shah Jahan de la dinastía mogol. El
                    imponente conjunto de edificios se erigió en honor de su esposa favorita, Arjumand Banu Begum —más
                    conocida como Mumtaz Mahal—, que murió en el parto de su decimocuarto hijo. Se estima que en su
                    construcción trabajaron unos 20 000 obreros bajo dirección de un conjunto de arquitectos liderados
                    por el arquitecto de la corte, Ustad Ahmad Lahori.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock main %}