{% extends "inicio.html" %}

{% block title %}
<h2></h2>
{% endblock title %}

{% block main %}
<div class="row justify-content-center">
    <div class="card shadow mt-2 border-0" style="width: 464px;">
        <h2 class="border-bottom py-3 text-center fw-bold">Inicia sesión</h2>

        <form class="card-body pt-3" method="post" action="{{ url_for('iniciandoSesion') }}">
            <div class="mb-2">                
                <input name="email" type="email" class="form-control" placeholder="Correo electronico" required>
            </div>

            <div class="mb-2">
                <input name="password" type="password" class="form-control" placeholder="Contraseña" minlength="8" required>
            </div>

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <div class="text-center pt-3 pb-0 row justify-content-center">
                <button type="submit" class="btn mb-3" style="width: 200px; background-color: #2e7bb9ff;">
                    <p class="fw-bold text-light fs-5 m-0">Iniciar Sesión</p>
                </button>

                <a class="fs-6 text-decoration-none" href="/registro">Registrate Aqui</a>
            </div>
        </form>
    </div>
</div>
{% endblock main %}