{% extends "inicio.html" %}

{% block title %}
<div class="mb-4">
  <p class="fs-2 fw-semibold m-0">Vehiculos Antiguos</p>
  <p class="text-secondary">No tan antiguos..</p>
</div>
{% endblock title %}

{% block main %}
<div>
  <div class="card my-3">
    <div class="row">
      <div class="col-5 p-0 d-flex justify-content-end">
        <img class="img-fluid rounded-start-1" src="static/img/celicaGtFourSt205.jpg" alt="toyota celica gt four st 205"
          style="width: 580px;">
      </div>

      <div class="col-7 p-0 pe-2">
        <div class="card-header bg-success rounded-0 rounded-end-1 m-0" style="width: 678px;">
          <h3 class="card-title text-light">Toyota Celica GT-Four ST205</h3>
        </div>

        <div class="card-body m-0 p-4">
          <p class="card-text fst-italic lh-sm">
            "Fue la última versión de la exitosa serie de Celicas que compitió en el Grupo A de rallies en los años 90.
            Con su forma aerodinámica y su suspensión avanzada, ganó numerosos rallies y un campeonato de
            constructores."
          </p>

          <p class="card-text lh-sm">
            El Toyota Celica GT-Four ST205 es el último de su línea, un coupé deportivo de alto
            rendimiento de la sexta generación del Celica, producido de 1994 a 1999, y conocido por su potente motor
            3S-GTE turboalimentado, tracción integral permanente y suspensión Superstrut. Fue desarrollado para el
            Campeonato Mundial de Rally, aunque su participación profesional fue marcada por una descalificación debido
            a un dispositivo ilegal.
          </p>
        </div>

        <div class="card-footer bg-danger rounded-0 rounded-end-1 m-0" style="width: 678px;"></div>
      </div>
    </div>
  </div>

  <div class="card my-3">
    <div class="row">
      <div class="col-5 p-0 d-flex justify-content-end">
        <img class="img-fluid rounded-start-1" src="static/img/lancerEvo6.jpg" alt="mitsubishi lancer evo 6"
          style="width: 580px;">
      </div>

      <div class="col-7 bg-danger rounded p-0 pe-2" style="width: 677px;">
        <div class="card-header bg-light rounded-0 rounded-end-1 m-0 mb-1" style="width: 677px;">
          <h3 class="card-title">Mitsubishi Lancer Evo 6</h3>
        </div>

        <div class="card-body m-0 p-4">
          <p class="card-text fst-italic text-light lh-sm">
            "Fue uno de los modelos más emblemáticos y exitosos del Campeonato Mundial de Rally a finales de los años
            90, consolidando la reputación de Mitsubishi en la competición. Con su potencia, agilidad y precisión, se
            convirtió en un ícono de la era dorada del rally."
          </p>

          <p class="card-text text-light lh-sm">
            El Mitsubishi Lancer Evolution VI, producido entre 1999 y 2001, representó la evolución definitiva del
            legado “Evo” en el Grupo A antes de la llegada de nuevas regulaciones. Equipado con un motor 2.0 litros
            turbo 4G63, tracción integral con diferencial activo y un sistema de refrigeración para el turbo,
            ofrecía un control excepcional en cualquier superficie. Su aerodinámica refinada, con defensas más anchas,
            tomas de aire frontales y un alerón trasero optimizado, le dieron una presencia imponente.
          </p>
        </div>

        <div class="card-footer bg-dark rounded-0 rounded-end-1 m-0 mt-2" style="width: 678px;"></div>
      </div>
    </div>
  </div>

  <div class="card my-3">
    <div class="row">
      <div class="col-5 p-0 d-flex justify-content-end">
        <img class="img-fluid rounded-start-1" src="static/img/95imprezaWrxSti_gc8c.jpg"
          alt="95 mitsubishi impreza wrx sti gc8c" style="width: 580px;">
      </div>

      <div class="col-7 bg-primary rounded p-0 pe-2" style="width: 677px;">
        <div class="card-header bg-warning rounded-0 rounded-end-1 m-0" style="width: 677px;">
          <h3 class="card-title text-dark">95' Subaru Impreza WRX STI (GC8C)</h3>
        </div>

        <div class="card-body m-0 p-4">
          <p class="card-text fst-italic text-light lh-sm">
            “El Subaru Impreza 555 llevó a Colin McRae a su victoria en el Campeonato Mundial de Rally en 1995. Con su
            bajo centro de gravedad, su potente motor bóxer y su excelente capacidad para cambiar de dirección, es uno
            de los coches de rally más emblemáticos de la década de 1990.”
          </p>

          <p class="card-text text-light lh-sm">
            El Subaru Impreza WRX STI (GC8C) marcó una era dorada en los rallies, destacando por su motor bóxer
            turbo de 2.0 litros, su tracción integral simétrica y una suspensión ajustada, dandole un equilibrio
            y agarre excepcionales. Este modelo llevó a Subaru a conquistar su primer Campeonato de Constructores.
            Su agresividad, su sonido inconfundible y su desempeño imparable sobre cualquier terreno lo convirtio
            en uno de los autos más recordados y admirados de la historia del rally.
          </p>
        </div>

        <div class="card-footer bg-warning rounded-0 rounded-end-1 m-0" style="width: 677px;"></div>
      </div>
    </div>
  </div>

  <div class="card my-3">
    <div class="row">
      <div class="col-5 p-0 d-flex justify-content-end">
        <img class="img-fluid rounded-start-1" src="static/img/stratosHfRally.jpg" alt="lancia stratos hf rally"
          style="width: 580px;">
      </div>

      <div class="col-7 p-0 pe-2">
        <div class="card-header bg-danger rounded-0 rounded-end-1 m-0" style="width: 677px;">
          <h3 class="card-title text-light">Lancia Stratos HF Rally</h3>
        </div>

        <div class="card-body m-0 p-4">
          <p class="card-text fst-italic lh-sm">
            "Impulsado por un motor V6 del Ferrari Dino, el Lancia Stratos fue el primer coche diseñado específicamente
            para dominar las etapas del Rally Mundial. Con su chasis de motor central y tracción trasera, el Stratos
            ganó el Campeonato Mundial de Rally en tres ocasiones entre 1974 y 1976."
          </p>

          <p class="card-text lh-sm">
            El Lancia Stratos HF Rally, creado por Lancia en colaboración con Bertone y Ferrari, debutó en
            competición a inicios de los '70 y revolucionó el mundo del rally con su diseño centralizado y
            ultraligero. Equipado con un motor V6 de 2.4 litros del Ferrari Dino, tracción trasera y una distancia entre
            ejes corta, que le daba agilidad extrema, el Stratos dominó tanto en asfalto como en tierra. Conquistó
            3 Campeonatos del Mundo consecutivos, convirtiendose en uno de los autos más legendarios y exitosos en
            la historia del WRC.
          </p>
        </div>

        <div class="card-footer bg-dark rounded-0 rounded-end-1 m-0" style="width: 677px;"></div>
      </div>
    </div>
  </div>

  <div class="card my-3">
    <div class="row">
      <div class="col-5 p-0 d-flex justify-content-end">
        <img class="img-fluid rounded-start-1" src="static/img/escortRsCosworth.jpeg" alt="ford escort rs cosworth"
          style="width: 580px;">
      </div>

      <div class="col-7 p-0 pe-2">
        <div class="card-header bg-primary rounded-0 rounded-end-1 m-0" style="width: 677px;">
          <h3 class="card-title text-light">Ford Escort RS Cosworth</h3>
        </div>

        <div class="card-body m-0 p-4">
          <p class="card-text fst-italic lh-sm">
            "El Ford Escort RS Cosworth, que cubría las eras del Grupo A y del WRC, ganó numerosos rallies. Su agresivo
            motor Cosworth y su fiable chasis lo convirtieron en uno de los coches de rally más fiables de la década de
            1990."
          </p>

          <p class="card-text lh-sm">
            El Ford Escort RS Cosworth, producido entre 1992 y 1996, fue diseñado específicamente para homologar su
            versión de rally dentro del Grupo A. Equipado con un motor 2.0 litros turbo Cosworth YBT, tracción integral
            permanente y una aerodinámica desarrollada para competición, este modelo ofrecía un equilibrio perfecto
            entre potencia y control. Su característica más distintiva era el alerón “cola de ballena”, que mejoraba la
            estabilidad a altas velocidades. El Escort Cosworth obtuvo múltiples victorias y podios, reafirmando la
            herencia deportiva de Ford y dejando una huella imborrable en la historia del rally de los años 90.
          </p>
        </div>

        <div class="card-footer bg-primary rounded-0 rounded-end-1 m-0" style="width: 677px;"></div>
      </div>
    </div>
  </div>
</div>
{% endblock main %}