{% extends "inicio.html" %}

{% block title %}
<div class="mb-4">
  <p class="fs-2 fw-semibold m-0">Vehiculos Antiguos</p>
  <p class="text-secondary">No tan antiguos..</p>
</div>
{% endblock title %}

{% block main %}
<div>
  <div class="card my-2">
    <div class="row">
      <div class="col-6 p-0 d-flex aling-items-end">
        <img class="img-fluid rounded-start-1" src="static/img/celicaGtFourSt205.jpg"
          alt="toyota celica gt four st 205">
      </div>

      <div class="col-6 p-0 pe-2">
        <div class="card-header bg-success rounded-0 rounded-end-1 m-0" style="width: 578px;">
          <h3 class="card-title text-light">Toyota Celica GT-Four ST205</h3>
        </div>

        <div class="card-body m-0 p-4">
          <p class="card-text fst-italic">
            "Fue la última versión de la exitosa serie de Celicas que compitió en el Grupo A de rallies en los años 90.
            Con su forma aerodinámica y su suspensión avanzada, ganó numerosos rallies y un campeonato de
            constructores."
          </p>

          <p class="card-text">
            El Toyota Celica GT-Four ST205 es el último de su línea, un coupé deportivo de alto
            rendimiento de la sexta generación del Celica, producido de 1994 a 1999, y conocido por su potente motor
            3S-GTE turboalimentado, tracción integral permanente y suspensión Superstrut. Fue desarrollado para el
            Campeonato Mundial de Rally, aunque su participación profesional fue marcada por una descalificación debido
            a un dispositivo ilegal.
          </p>
        </div>

        <div class="card-footer bg-danger rounded-0 rounded-end-1 m-0" style="width: 578px;"></div>
      </div>
    </div>
  </div>
</div>
{% endblock main %}